a {
    text-decoration: none !important;
}

.b-r-10 {
    border-radius: 10px !important;
}

.b-r-15 {
    border-radius: 15px !important;
}

.b-r-20 {
    border-radius: 20px;
}

.b-r-25 {
    border-radius: 25px;
}

.b-r-30 {
    border-radius: 30px;
}

.b-r-40 {
    border-radius: 40px;
}

.b-r-50 {
    border-radius: 50%;
}

.fs-7 {
    font-size: 0.8em;
}

.touch-ink {
    color: #aaaaaa;
    border-radius: inherit;
}

.overflow-x-hidden {
    overflow-x: scroll;
}

.overflow-x-hidden::-webkit-scrollbar {
    display: none;
}

.overflow-y-hidden {
    overflow-y: auto;
}

.overflow-y-hidden::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.fw-semibold {
    font-weight: 500 !important;
}

.header-fixed {
    position: sticky;
    z-index: 9999;
    box-shadow: 0px 0px 9px 0px rgb(0 0 0 / 5%);
    background-color: #fff !important;
    top: 0px;
}

.common-color {
    color: #30384d !important;
}

.common-bg-color {
    background-color: #30384d !important;
}

.w-700 {
    font-weight: 700;
}

.form-search-control {
    background-color: #f7f7f7;
    border: none;
    outline: none;
    font-size: 0.8em;
    color: #30384d;
    font-weight: 500;

}

.form-search-control::placeholder {
    color: #7e8a9a;
    font-weight: 500;
}

.form-search-control:focus{
    box-shadow: none;
    background-color: #f7f7f7;

}

.item-img {
    object-fit: cover;
    width: 45vw;
    height: 30vw;
    border-radius: 5px;
}

.item-name {
    font-size: 0.85em;
}

.item-text {
    font-weight: 500;
    font-size: 0.7em;
    color: #7e8a9a;
}